




{
    email kristof@incubaid.com
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    # debug
}

files.play.refit.earth {
	file_server browse
}

office.play.refit.earth {
    reverse_proxy http://localhost:8008
}

groupoffice.play.refit.earth {
redir https://mail.lbndao.com
}

mail.lbndao.com {
    header X-Forwarded-Proto "https"
    header X-Forwarded-Host "mail.lbndao.com"
    reverse_proxy http://localhost:7000
}

# mail.play.refit.earth {
#     reverse_proxy http://localhost:7000
# }

webmail.play.refit.earth {
    reverse_proxy http://localhost:8080
}

jitsi.play.refit.earth {
    reverse_proxy 127.0.0.1:9009
    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets 127.0.0.1:9009
}


meet.play.refit.earth {
    reverse_proxy 127.0.0.1:9009
    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets 127.0.0.1:9009
}


