




{
    email kristof@incubaid.com
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    # debug
}

files.hub3.world {
	file_server browse
}

sites.hub3.world {
    reverse_proxy http://localhost:8000
}